.p-libemax-employees {
  &__card-title {
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    display: flex;
    justify-content: center;
  }

  &__card-title-internal {
     display: flex;
     justify-content: space-between;
     width: 100%;
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    color: $color-text-main;
    text-transform: uppercase;
  }

  &__btn-delete {
    color: $color-error;
  }

  &__modal-confirm-btn {
    color: $color-success;
  }
  &__modal-reject-btn {
    color: $color-error;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $space-md;
  }

  @include mq($bp-tablet){
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include mq($bp-wide){
    &__grid {
      grid-template-columns: repeat(4, 1fr);
       gap: $space-md;
    }
  }

}


