.p-contract-detail {
  &__card {
    margin-top: $space-lg;
  }

  &__icon {
    border-radius: 50%;
    background: $color-canvas;
    padding: $space-md;
    flex-shrink: 0;
  }
  &__card-title {
    display: flex;
    justify-content: center;
  }

  &__card-title-internal {
     display: flex;
     justify-content: space-between;
     width: 100%;
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    color: $color-text-main;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    flex-direction: row;
    gap: $space-lg;
  }

  &__header-info {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }

  &__info-grid {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
    border-top: 1px solid $color-border;
    padding-top: $space-lg;
  }

  &__info-detail {
    display: flex;
    gap: $space-sm;
  }

  &__description {
    color: $color-text-muted;
    white-space: pre-wrap;
     border-left: 4px solid $color-canvas;
     margin-left: $space-xl;
     padding-left: $space-xl;
  }

  &__client-sheet {
     display: flex;
      flex-direction: row;
      gap: $space-md;
      align-items: center;
      margin-top: $space-xl;
      margin-left: $space-xl;
  }

  &__contract-form-btns-row {
    display: flex;
    gap: $space-md;
  }

  &__detail-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $space-md;
  }

  &__subtitle-section {
    margin-bottom: $space-md;
  }

  &__date-row {
    display: flex;
    gap: $space-md;
  }

  &__date {
    width: 100%;
  }
}
