.c-clients-details-card {
  &__body {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }
  &__icon-text {
    display: flex;
    align-items: center;
    gap: $space-sm;
  }
  
  &__btn-delete {
    color: $color-error;
  }
}