.p-user-list {
  &__card-title {
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    display: flex;
    justify-content: center;
  }

  &__card-title-internal {
     display: flex;
     justify-content: space-between;
     width: 100%;
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    color: $color-text-main;
    text-transform: uppercase;
  }

  &__btn-delete{
    padding: $space-sm;
    &:not(:disabled) {
      color: $color-error;
    }
  }

  &__btn-edit {
    padding: $space-sm;
    margin-left: $space-sm;
  }


  &__modal-confirm-btn {
    color: $color-success;
  }
  &__modal-reject-btn {
    color: $color-error;
  }

  &__grid {
    @include create-card-grid(( $bp-tablet: 2, $bp-wide: 4 ));
  }
}
