.p-wst {
  &__card-title {
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    display: flex;
    justify-content: center;
  }

  &__card-title-internal {
     display: flex;
     justify-content: space-between;
     width: 100%;
  } 

  &__title {
    font-size: 2rem;
    margin: 0;
    color: $color-text-main;
    text-transform: uppercase;
  }

  &__btn-delete {
    color: $color-error;
  }
}