.p-error-page {
  padding-top: $space-lg;

  &__card {
    text-align: center;
  }

  &__code {
    font-size: 6rem;
    line-height: 1;
  }

  &__link {
    @include flex-center;
    gap: $space-sm;
    margin-top: $space-md;
  }
}
