$color-primary: #3b82f6;
$color-primary-hover: #2563eb;

$color-secondary: #64748b;
$color-secondary-hover: #e2e8f0;

$color-success: #22c55e;
$color-error: #ef4444;
$color-success-text: #1b9e4b;
$color-error-text:   #bf3636;

$color-bg: #f8fafc;
$color-surface: #ffffff;
$color-canvas:  #f1f5f9;
$color-border: #e2e8f0;

$color-text-main: #1e293b;
$color-text-muted: #64748b;
$color-text-muted-dark: #505c6f;
