$radius-sm: 4px;
$radius-md: 12px;
$radius-lg: 20px;
$radius-full: 100%;

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-bottom-md: 0 4px 6px -7px rgba(0, 0, 0, 0.1), 0 2px 4px -5px rgba(0, 0, 0, 0.06);
$shadow-top-md: 0 -4px 6px -7px rgba(0, 0, 0, 0.1), 0 -2px 4px -5px rgba(0, 0, 0, 0.06);
$shadow-right-md: 4px 0 6px -7px rgba(0, 0, 0, 0.1), 2px 0 4px -5px rgba(0, 0, 0, 0.06);
$shadow-left-md: -4px 0 6px -7px rgba(0, 0, 0, 0.1), -2px 0 4px -5px rgba(0, 0, 0, 0.06);
